<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Guesswhat 游戏展示平台</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/static/css/page.css" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="page" id="app">
			<div class="nav-left" v-show="navLeftFlag" ref="navLeft">
				<div class="LogoName">
					Guesswhat! {{ user_id }}！
				</div>
				<div class="navDiv">
					<div class="navName">导航栏</div>
					<div class="nav-list">
						<ul>
							<li class="nav-tab a_active waves-effect">
								<a href="/chat?user_id={{ user_id }}" class="li-a active" target="iframe"><i class='bx bx-home-smile'></i>游戏页面</a>
							</li>
							<li class="nav-tab nav-ul">
								<a href="/table/?user_id={{ user_id }}" class="li-a" target="iframe"><i class='bx bx-layer'></i>游戏记录</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="nav-right" ref="navRight">
				<div class="nav-top">
					<button type="button" class="btn btn-primary btn-sm hiddenBtn" style="line-height: 20px;"
					  onclick="javascrtpt:window.location.href='/login/'">
						logout
					</button>
				</div>

				<div class="content-page" ref="cPage" name="content-page">
					<iframe name="iframe" width="100%" height="100%" frameborder="0" src="/chat?user_id={{ user_id }}"></iframe>
				</div>
			</div>
		</div>
	</body>
</html>

